body {
    background-color: gray;
    color: white;
    display: flex;

}


.login{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    width: 25rem;
}