body {
    background-color: gray;
    color: white;
    display: flex;

}


.login{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
}